.color-option {
  height:300px;
  width:300px;
  border-radius:50px;
  text-align:center;
  vertical-align:middle;
  width:300px;
  height:300px;
  padding:auto;
  font-size:3em;
  font-weight:bold;
}

.left-option {
  color:white;
}
.right-option {
  color:black;
}

.color-option:hover {
  cursor:pointer;
}

.training-progress-bar-space {
  background: lightblue;
  border-radius:20px;
  padding:30px;
}

.data-visualization {
  border: 2px solid black;
  font-size:24px;
  text-align:center;
}

.data-visualization tr td:nth-child(1){
  border-right:2px solid black;
}

.classified-colors {
  width:300px;
  height:400px;
  overflow-y: auto;
  padding:10px;
}

.data-visualization tr:nth-child(2){
  border-top:2px solid black;
}

.classified-colors li {
  float: left;
  width:30px;
  height:30px;
  border-radius:4px;
  margin:2px;
  display: inline-block;
}

.classified-colors li:hover {
  cursor:pointer;
}

.decision-space td {
  text-align:center;
  vertical-align: middle;
}

.color-option {
  text-align:center !important;
}
.data-visualization tr td {
  vertical-align: top;
  text-align:left;
}

.classified-colors-label {
  text-align:center;
  align:center;
  padding:10px;
  font-weight:bold;
}

p {
  font-size: 18px;
}

.no-highlight {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

strong {
  font-weight: bold;
}
