/* Aligns the children to the center of the element with this class */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-container {
  color: white;
}

.card {
  overflow:hidden;
  background: #ddd;
}

.card-image > img {
  width:100%;
}

body {
  color: #ccc;
}

a {
  font-weight:bold;
}

.container {
  max-width:900px;
}

p {
  font-size:18px;
  line-height:2em;
}
