/* Aligns the children to the center of the element with this class */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-container {
  color: white;
}

.card {
  overflow:hidden;
  background: #ddd;
}

.card-image > img {
  width:100%;
}

body {
  color: #ccc;
}

a {
  font-weight:bold;
}

.container {
  max-width:900px;
  border-radius:5px;
  padding:40px;
  padding-top:20px;
}

h1 {
  	display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

p {
  text-indent: 50px;
  font-size:18px;
  line-height:2em;
}

.light-mode {
  background:white;
  color:black;
}
